<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <!-- navbar title -->
    <a class="navbar-brand" href="#">
      <img src="/image/pi.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <span style="font-weight: bolder;">Node_MathPlatform (江至揚)</span>
    </a>
    <!-- 動態縮起list -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- 用collapse讓list直接消失 -->
    <div class="collapse navbar-collapse" id="navbarToggler">
      <!-- Links -->
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/">首頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/area">面積計算</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/volume">體積計算</a>
        </li>
        <li class="nav-item">
          <a class="nav-link red_t" href="https://github.com/ChihYang218/Node_MathPlatform" target="_blank">原始碼</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar {
    background-color: rgba(153, 153, 153, 0.717) !important;
  }
  .nav-item .nav-link:hover {
    background-color: rgba(251, 239, 241, 0.350);
    color: blue;
  }
  .red_t:hover {
    color: red !important;
  }
</style>