<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/lib.ejs') %>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="bg-image">
      <%- include('./partials/navbar.ejs') %>
    </div>
  </body>
</html>
