<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/lib.ejs') %>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="bg-image">
      <%- include('./partials/navbar.ejs') %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <div class="col1">
              <h1 class="ti">
                <%= title %>
              </h1>
              <hr>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="col2">
              <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">選擇圖形： </label>
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>形狀...</option>
                <option value="1">正方形</option>
                <option value="2">長方形</option>
                <option value="3">圓形</option>
              </select>
            </div>
            <div class="col-sm-4 text-center">
        
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
