<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/lib.ejs') %>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/javascript/volume.js"></script>
  </head>
  <body>
    <div class="bg-image">
      <%- include('./partials/navbar.ejs') %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <div class="col1">
              <h1 class="ti">
                <%= title %>
              </h1>
              <hr>
              <div class="caption">
                <h2 class="caption-ti">使用說明：</h2>
                <ol class="caption-txt">
                  <li>選擇要計算的圖形</li>
                  <li>點擊[選擇完成]的按鈕<br>(有選擇圖形，就會跳出計算視窗)</li>
                  <li>在計算視窗輸入應有的值</li>
                  <li>點擊[計算體積]的按鈕<br>(有確實的輸入值，在體積的格子就會輸出體積)</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="col2">
              <label class="mr-sm-2 sr-only choice-txt" for="choiceShape-volume">選擇圖形： </label>
              <select class="custom-select mr-sm-2" id="choiceShape-volume">
                <option selected>形狀...</option>
                <option value="s">正方體</option>
                <option value="r">長方體</option>
                <option value="c">球體</option>
              </select>
              <br>
              <button type="button" class="btn btn-warning btn-lg fnchoice" id="choiceFinishBtn-volume">選擇完成</button>
            </div>
          </div>
          <div class="col-sm-4 text-center" id="volume-init">
            <!-- js 會在這裡導入該有的介面 -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
