body {
  font-family: 'Noto Serif TC', serif;
}

.badge {
  margin-top: 20px;
  background-color: rgb(56, 182, 255) !important;
}

.bg-image {
  background-image: url('/image/bg.jpg');
  /* 正中間，配合這個縮放才不會怪怪的 */
  background-position: center center;
  /* 使背景圖不靠repeat，占滿整個內容版面 */
  background-size: cover;
  /* 當前螢幕可見高度的100% */
  height: 100vh;
  opacity: 0.9;
}